extends layout

block content
  h1 Photo Upload
  p Upload a photo to your account below.
  form(method='post', enctype='multipate/form-data')
    p
      input(type='text', name='photo.name', placeholder="Name", class='form-control')
    p
      input(type='file', name='photo.path', class='form-control')
    p
      input(type='submit', value='Upload', class='form-control')
