html
  head
    title Todo List
  body
    h1 Todo list
    ul
      li
    form(method="post", action="/")
      p
        input(type="text", name="item")
      p
        input(type="submit",value="Add Item")
